.wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.body {
  margin-top: 50px;
  width: 80%;
}

.item {
  background: #c9fdd7; 
  margin-bottom: 5px;
  padding: 10px 20px;
}

.title {
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.content {
  color: black;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0,1,0,1) 0.1s;
}

.content.show { 
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(0,1,0,1) 0.3s;
}